<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="p-3 bg-dark text-white" th:fragment="header">

    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Главная</a></li>
                <li th:if="${session.status_account} != null and ${session.status_account} <= 1">
                    <a href="/reg/profile" class="nav-link px-2 text-white">Профиль</a></li>
                <li th:if="${session.status_account} != null and ${session.status_account} == 0">
                    <a href="/moder" class="nav-link px-2 text-white">Управление пользователями</a></li>
<!--                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>-->
<!--                <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="get" th:action="@{/search}">
                <input type="search" class="form-control form-control-dark" name="s"
                       placeholder="Найти..." aria-label="Search">
            </form>

            <div class="text-end" th:if="${session.status_login} != 0" >
                <a href="../auth-page.html" th:href="@{/reg}" type="button" class="btn btn-outline-light me-2">Войти</a>
                <a href="../signup-page.html" th:href="@{/new}" type="button" class="btn btn-warning">Зарегистрироваться</a>
            </div>
            <div class="text-end" th:if="${session.status_account} != null">
                <p>Добро пожаловать, <strong th:text="${session.user} == null? '' :${session.user.login} "></strong>

                    <a href="../auth-page.html" th:href="@{/reg/logout}" type="button" class="btn btn-outline-light me-2">Выйти</a>
                </p>
            </div>
        </div>
    </div>
</header>
</body>
</html>