<!DOCTYPE html>
<html lang="en">
<head th:replace="stuff/base :: common_header('Главная')"></head>
<body>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11" th:fragment="form(header, message)">
    <div id="liveToast" class="toast fade hide" data-bs-autohide="true"  role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto" th:text="${header}">Bootstrap</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
        <div class="toast-body" th:text="${message}">
            Привет, мир! Это тост-сообщение.
        </div>
    </div>
</div>
</body>
</html>