<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{stuff/base :: common_header(${title.theme})}">
</head>

<body>


<div th:replace="~{stuff/header :: header}"></div>
<section>
    <span th:if="${session.permission} != null and ${session.permission} == false">Ошибка выполнения: недостаточно прав!</span>
    <div class="row m-5">
        <header class="col-11 d-flex m-5">
            <h1>Тема:
                <strong class="text-center"  th:text="${title.theme}"></strong>
            </h1>
            <span class="h1 px-5" th:text="${title.date}"></span>
        </header>
        <div class="col-1 justify-content-start">
            <a class="btn-outline-warning" th:href="@{'/reg/delete/thread?id='+${title.id}}"
               th:if="${#objects.nullSafe(session.status_account,100)} == 0 or ${session.user} != null and ${session.user.id} == ${title.author.id}">Удалить тему</a>
        </div>
    </div>
    <div class="col-6 m-5 p-5">
        <div xmlns="http://www.w3.org/1999/xhtml" th:text="${title.text}"></div>
    </div>
</section>
<section>
    <div th:if="${#lists.isEmpty(comments)} == false">
        <style>
            .tm-comments-wrapper__header {
                align-items: center;
                border-bottom: 1px solid #d5dddf;
                box-sizing: border-box;
                display: flex;
                min-height: 55px;
                padding: 15px 16px;
            }
            .tm-comments-wrapper__header .count{
                color: #ffc107;
                margin-left: 5px;
            }

            .tm-comments__tree {
              box-sizing: border-box;
              padding: 16px 0 0;
            }
            .tm-comment-thread {
                position: relative;
                margin-bottom: 24px;
                width: 50%;
            }
            .tm-comment {
                position: relative;
                transition: opacity .3s ease;
            }
            .tm-comment-footer {
                justify-content: flex-start;
                color: #212529;
            }
            .tm-comment__header {
                align-items: center;
                display: flex;
                flex-wrap: nowrap;
                height: 24px;
                margin: -4px;
                padding: 4px;
                position: relative;
                justify-content: space-between;
            }
            .tm-comment__body-content {
                color: #212529;
                font-size: .9375rem;
                line-height: 1.375rem;
                margin-top: 8px;
                overflow-x: auto;
                overflow-y: hidden;
                word-break: break-word;
            }
            .footer_btn.btn{
                color: #fff;
                background-color: #212529;
                letter-spacing: 0.5px;
                text-transform: capitalize;
                display: inline-block;
                transition: all 0.3s ease 0s;
            }
        </style>
        <header class="tm-comments-wrapper__header">Комментарии <span class="count" th:text="${#lists.size(comments)}"> </span></header>
        <div class="tm-comments__tree" th:each="comment : ${comments}">
            <article class="tm-comment-thread" th:style="'padding-left: calc(30px *' + ${comment.depth} + ')'">
                <div class="tm-comment">
                    <header class="tm-comment__header">
                        <h4>Автор:<span style="margin: 5px" th:text="${comment.message.author.login}"></span></h4>
                        <span>Дата добавления:<span style="margin: 5px" th:text="${comment.message.date}"></span></span>

                    </header>
                    <div class="tm-comment__body-content">
                        <div>Тема:
                            <span xmlns="http://www.w3.org/1999/xhtml" class="h5 px-1" th:text="${comment.message.theme}"></span></div>
                        <div xmlns="http://www.w3.org/1999/xhtml" class="py-2" th:text="${comment.message.text}"></div>
                    </div>
                </div>
                <div class="tm-comment-footer py-4">
                    <a class="footer_btn btn" th:attr="value=${comment.message.id}"
                       th:if="${session.status_account} != null and ${session.status_account} <= 1">Ответить</a>
                    <a class="footer_btn btn" th:href="@{'/reg/delete?id=' + ${comment.message.id}}"
th:if="${#objects.nullSafe(session.status_account,100)} == 0 or ${session.user} != null and ${session.user.id} == ${comment.message.author.id}">Удалить</a>
                    <div class="visually-hidden" th:id="'form-' + ${comment.message.id}">
                        <form action="#" th:action="@{'/reg/send/message?mid=' + ${comment.message.id}}" th:object="${message}" method="POST">
                            <div class="form-group">
                                <input type="text" th:field="*{theme}" class="form-control" placeholder="Тема">
                            </div>
                            <div class="form-group">
                                <textarea th:field="*{text}" class="form-control" placeholder="Сообщение..."></textarea>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Создать">
                        </form>
                    </div>
                </div>
            </article>
        </div>
        <script>
            const a = document.querySelectorAll('a');
            a.forEach(link => {
                const value = link.getAttribute("value");
                link.addEventListener("click", ev => {
                    const form = document.getElementById('form-'+value);
                    if (form.getAttribute('class') !== ''){
                        form.setAttribute('class', '');
                    }
                    else {
                        form.setAttribute('class', 'visually-hidden');
                    }
                });
            });
        </script>
    </div>
    <div th:if="${#lists.isEmpty(comments)} == true">
        <p>
        <h6>Комментарии отсутствуют!</h6>
        </p>
    </div>
    <div class="container p-5 w-25">
        <h6 class="title">Ответить</h6>
        <form action="#" th:action="@{'/reg/send/message' + '?mid=' + ${title.id}}" th:object="${message}" method="POST">
            <div class="form-group">
                <input type="text" th:field="*{theme}" class="form-control" placeholder="Тема">
            </div>
            <div class="form-group">
                <textarea th:field="*{text}" class="form-control" placeholder="Сообщение..."></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Создать">
        </form>
    </div>

</section>


</body>
</html>