<!DOCTYPE html>
<html lang="en">
<head th:replace="stuff/base :: common_header('Главная')"></head>
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<div th:replace="~{stuff/header :: header}"></div>
<span th:if="${session.permission} != null and ${session.permission} == false">Ошибка выполнения: недостаточно прав!</span>

<section th:if="${messages.isEmpty() == true}" class="container">

</section>

<section th:if="${messages.isEmpty() == false}" th:object="${messages}" class="container py-4">

    <section class="container py-2" th:each="message : ${messages}">
        <div class="row justify-content-between">
            <div class="col-2 d-inline-flex">
                <span>Автор:</span>
                <strong class="px-2" th:text="${message.author.login}">РоманАдмин</strong>
            </div>
        </div>
        <div class="row justify-content-start">
            <span class="col-3" th:text="${message.date}">25.07.2020 01:45</span>
            <span class="col-6 link-dark fw-bold">
                <a href="get-message-page.html" th:href="@{'/message/' + ${message.id}}"
                    th:text="${message.theme}">FAQ для пользователей</a></span>
        </div>
    </section>
</section>
<section class="container">
    <form action="#" th:action="@{/reg/thread}" th:object="${newmessage}" method="POST">
        <div class="form-group">
            <input type="text" th:field="*{theme}" class="form-control" placeholder="Тема">
        </div>
        <div class="form-group">
            <textarea th:field="*{text}" class="form-control" placeholder="Сообщение..."></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Создать">
    </form>

</section>
<div th:if="${session.isPopupAuthShow} != null and ${session.isPopupAuthShow} == true">
    <div th:replace="stuff/popup :: form('Система', 'Аутентификация успешно пройдена!')"></div>
</div>
</body>
</html>