<!DOCTYPE html>
<html lang="en">
<head th:replace="~{stuff/base :: common_header('Модератор')}"></head>
<body>
    <style>
        .row.p-1.active{
            border: 1px solid #E7AE00;
            background-color: #ffc107;
            color: white;
        }
        .row.p-1:hover{
            background-color: #E5C666;
            color: white;

        }
    </style>
    <div th:replace="~{stuff/header :: header}"></div>
    <div class="d-flex row">
        <section class="container p-2 col-1">
            <ul class="">
                <li th:class="${page} == 0? 'row p-1 active' : 'row p-1'"><a href="moderator-page.html"
                                              th:href="@{/moder/unreg}">Список заявок</a></li>
                <li th:class="${page} == 1? 'row p-1 active' : 'row p-1'"><a href="moderator-page.html"
                                       th:href="@{/moder/reg}">Пользователи</a></li>
            </ul>
        </section>
        <div th:if="${page} == 0" class="container col-11">
            <div th:replace="moderator/unregister :: table(${users}, ${moder_login}, ${sign})"></div>
        </div>
        <div th:if="${page} == 1" class="container col-11">
            <div th:replace="moderator/register :: table(${users})"></div>
        </div>
    </div>

</body>
</html>