<!DOCTYPE html>
<html lang="en">
<head th:replace="stuff/base :: common_header('Пользователь ' + ${session.user.login})"></head>
<body>
<div th:replace="~{stuff/header :: header}"></div>
<div>
    <form method="POST" th:action="@{/reg/update}" th:object="${form_user}">
        <div class="form-group">
            <span>Логин:</span>
            <input name="login" th:field="*{login}"/>
        </div>
        <div class="form-group">
            <span>Статус:</span>
            <span th:text="${status}"></span>
        </div>
        <div class="form-group">
            <span>О пользователе:</span>
            <input type="text" name="about" th:field="*{about}"/>
        </div>
        <div class="form-group">
            <span>Имя Фамилия:</span>
            <input name="name" th:field="*{name}"/>
            <input name="surname" th:field="*{surname}"/>
        </div>
        <button class="btn btn-primary">Сохранить</button>
    </form>
</div>
</body>
</html>