<!DOCTYPE html>
<html lang="en">
<head th:replace="~{stuff/base :: common_header('Результат поиска')}"></head>
<body>
<div th:replace="~{stuff/header :: header}"></div>
<section class="container p-4">
    <h3 th:with="count = ${#lists.size(messages)}">
        Найденых записей:
        <strong th:text="${count} != 0 ? ${count} : 'Не найдено'"></strong>
    </h3>
</section>
<section class="container py-2" th:each="message : ${messages}">
    <div class="row justify-content-between">
        <div class="col-2 d-inline-flex">
            <span>Автор:</span>
            <strong class="px-2" th:text="${message.author.login}">РоманАдмин</strong>
        </div>
    </div>
    <div class="row justify-content-start">
        <span class="col-3" th:text="${message.date}">25.07.2020 01:45</span>
        <span class="col-6 link-dark fw-bold">
                <a href="get-message-page.html" th:href="@{'/message/' + ${message.id}}"
                   th:text="${message.theme}">FAQ для пользователей</a></span>
    </div>
</section>


</body>
</html>