<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <section th:fragment="table(users, moder_login, sign)">
        <style>
        .empty-list {
            background-color: #ffc107;
            border: 2px solid #E7AE00;
        }
        .access {
            background-color: #ffc107;
            border-color: #E7AE00;
        }
        .dis-access{
            border-color: #555;
            color: #212529;
        }
        .row.p-1.active{
            border: 1px solid #E7AE00;
            background-color: #ffc107;
            color: white;
        }
        .row.p-1:hover{
            background-color: #E5C666;
            color: white;

        }
    </style>
        <div class="justify-content-center p-3"  th:if="${#lists.isEmpty(users)} == true or ${users} == null">
            <div class="w-25 text-wrap empty-list">
                <h3 class="p-3">Результат</h3>
                <span class="p-3">Список заявок пуст!</span>
            </div>
        </div>
        <div class="justify-content-center p-3"  th:if="${#lists.isEmpty(users)} == false">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-wrap">№ Пользователя</th>
                    <th class="text-wrap">Логин</th>
                    <th class="text-wrap">Статус аккаунта</th>
                    <th>Имя</th>
                    <th class="text-wrap">Фамилия</th>
                    <th class="text-wrap">О пользователе</th>
                    <th class="text-wrap">Принять/отклонить заявку</th>
                </tr>
                </thead>
                <tbody th:each="u : ${users}">
                <tr>
                    <td class="text-wrap" th:text="${u.id}">1</td>
                    <td class="text-wrap" th:text="${u.login}">1</td>
                    <td class="text-wrap" th:text="${u.status}">1</td>
                    <td class="text-wrap" th:text="${u.name}">1</td>
                    <td class="text-wrap" th:text="${u.surname}">1</td>
                    <td class="text-wrap" th:text="${u.about}">1</td>
                    <td>
                        <a class="btn btn-primary access" href="#"
                           th:href="@{'/moder/access/' + ${moder_login} + '/' + ${u.login} + '?sign=' + ${sign}}">Принять</a>
                        <a class="btn btn-outline-primary dis-access" href="#">Отклонить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>


</body>
</html>